
body, html {
  overflow-x: hidden;
  max-width: 100%;
  background: gray;
  padding: 0;
  margin: 0;
  user-select: none;
}
.text {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 150%;
  opacity: 0.5;
  color: gray;   
  background: rgba(19, 48, 65, 0.482);
  border-radius: 2.5% ;
  border: 1px solid gray;
  z-index: 0;
}
.colorTextRed {
  color:red;
}
.textOfGame {
  position: absolute;
  text-align: center;
  opacity: 0.8;
  color: rgb(0, 141, 28); 
  border-radius: 2.5% ;
}
.gameSpace {
  position: absolute;
}
.block {
  border: 1px solid rgb(255,255,255,0.35);
  width: 30px;
  height: 30px;
  left: 0px;
  top: 0px;
  position: absolute;
  opacity: 0.;
  background: #222;
  border-radius: 20%;
}
button {
  color: rgba(255, 255, 255, 0.56);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  position: absolute;
  width: 100px;
  height: 100px;
  background: gray;
  border: 2px solid white
}
button:active {
  background: #222;
  color: orange;
  opacity: 0.5;
}
butPauseIsPress {
  background: #222;
  color: orange;
  opacity: 0.5;
}
.noDisplay {
  display: none;
}
.butLight {
  opacity: 0.5;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100px;
  height: 100px;
  background: radial-gradient(rgba(255, 255, 0, 0.912), rgba(255, 166, 0, 0.567), rgb(0,0,0,0), rgb(0,0,0,0));
}
.butPause {
  border: none;
}
.butUp {
  border-radius: 25% 25% 0% 0%;
}
.butDown {
  border-radius: 0% 0% 25% 25%;
}
.butLeft {
  border-radius: 25% 0% 0% 25%;
}
.butRight {
  border-radius: 0% 25% 25% 0%;
}
.snake-block {
  background: green;
}
.gameSpace {
  width: 100%;
  height: 100%;
  background: gray;
  position: absolute;
}
